.first-paragraph{
    color: rgb(0, 113, 133);
    transition: color 0.15s;
}

.first-paragraph:hover{
    color: coral;
}
.first-paragraph:active{
    color: blue;
}
.second-paragraph {
    font-size: 150%;
    font-weight: bold;
}
.third-paragraph{
    font-size: 120%;
    color: rgb(0, 118, 0);
    font-weight: bold;
}

.fourth-paragraph{
    font-size: 120%;
}

.addToCart-button{
    background-color: rgb(255, 216, 20);
    color: black;
    border-radius: 17.5px;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 130px;
}

.addToCart-button:hover{
    background-color: rgb(235, 199, 18);
}
.addToCart-button:active{
    opacity: 0.69;
}

.buyNow-button{
    background-color: rgb(255, 164, 28);
    color: black;
    border-radius: 17.5px;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 130px;
    margin-left: 10px;
    transition: background-color 0.15s,
                opacity 0.1s;
}

.buyNow-button:hover{
    background-color: rgb(235, 151, 25);
}

.buyNow-button:active{
    opacity: 0.75;
}