div {
    display: inline-block;
    width: 40%;
}

p {
    font-size: 2em;
}

.cat {
    background-color: aquamarine;
    float: left;
}

.dog {
    background-color: coral;
    display: block;
    float: right;
}

footer {
    text-align: center;
    background-color: blueviolet;
    clear: both;
}

img{
    float: left;
}