ol{
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
}

*{
    text-align: center;
}

p{
    color: red;
}
.note{
    font-size: 20px;
}

li[value="4"]{
    color: blue;
}

#id-selector-demo{
    color: green;
}