.box{
    width: 500px;
    height: 500px;
}

#redBox{
    background-color: red;
}

#blueBox{
    background-color: blue;
}

#orangeBox{
    background-color: orange;
}

#greenBox{
    background-color: green;
}

#yellowBox{
    background-color: yellow;
}

#redFont{
    color: red;
}

#blueFont{
    color: blue;
}

#orangeFont{
    color: orange;
}
#greenFont{
    color: green;
}
#yellowFont{
    color: yellow;
}

.color-title{
    font-weight: normal;
}

*{
    padding: 0px 0px 5px 5px;
}