<%- include("partials/header") %>
<div class="wrapper___content1">
    <div>
        <h1>So, who am I?</h1>
        <h2>Web Designer Resume</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita itaque illum aut fuga modi quos aperiam, cum voluptatem atque doloremque accusamus eos consequatur aliquid esse in velit quibusdam iste consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere assumenda repudiandae, omnis quisquam perferendis voluptatum? Perspiciatis rerum id, perferendis excepturi necessitatibus beatae aperiam ab, cumque ex dolore alias nemo labore?</p>
        <a href="/contact">Contact me Now!</a>
    </div>
    <div class="aboutThumbnail">
    </div>
</div>
<h1>My skills</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eius voluptate possimus, illo, dolorem ipsum esse quidem nostrum qui explicabo minus dolore vero molestiae ratione! Impedit quas nostrum esse labore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga maxime ullam iure a rerum. Veritatis ducimus magni ipsam. Porro quasi maxime harum quod assumenda est dolor quo at hic vel? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi architecto incidunt nobis laudantium provident vitae, iste quam nihil asperiores perspiciatis eum quisquam, ex voluptatem, officia tempora quibusdam repellendus quae! Sunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. At perferendis, nobis id, inventore sunt maxime quisquam, omnis qui corrupti ipsa nemo quasi voluptates harum illo ad debitis placeat tenetur cum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur fugit sapiente quibusdam! Non architecto ducimus enim sunt facere vel explicabo provident et quisquam beatae voluptatibus molestiae eos, tenetur labore possimus?</p>

<%- include("partials/footer") %>